.adminside-conatiner{
    background-color: gray;
    width: 22vh;
    height: 92vh;
}
/* .admin-lists{
    margin-top: 50px;
} */
.admin-li{
    padding: 10px 0px;
    list-style: none;
    font-size: 20px;
}
.top-container{
    position: fixed;
    width: 100%;
    z-index: 9999;
}


.admintop-container{
    background-color: gray;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-mini{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vh;
}
.cmp-name{
    color: whitesmoke;
    font-size: 25px;
}
/* .cmp-img{
    height: 50px;
} */
.img-card{
   display: flex;
   align-items: center;
   width: 5vh;
   justify-content: center;
}





.top-container{
    background-color: rgb(8, 152, 219);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.side-conatiner{
    width: 22vh;
    height: 100vh;    
    background-color: rgb(8, 152, 219);
    margin-top: 8vh;
    position: fixed;
    z-index: 9999;
}
.sidebar-li{
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
}

.sidebar-li:hover{
    color: black;
    background-color: gray;
}
.side-lists{
    padding: 20px;
}

.side-container-list{
    font-size: 23px;
}
.side-container-list:hover{
    background-color: gray;
}


.portal-card{
    display: flex;
}
.adminside-link{
    text-decoration: none;
    color: whitesmoke;
}

